<nav class="navbar navbar-light bg-light app-header">
    <div class="col-2 user">
        <img src="assets/images/user.jpg">
        <h5 class="text mb-0 ml-2">sebastiancoteanu</h5>
    </div>
    <div class="col brand">
        <img src="assets/images/logo.png"/>
        <h1 class="text">book<span>addict</span></h1>
    </div>
    <div class="col-2 header-menu" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    MENU
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">MY CART</a>
                    <a class="dropdown-item" href="#">BOOKINGS</a>
                </div>
            </li>
        </ul>
    </div>
</nav>